<!--<div class="row">
  <div class="col-md-12" style="margin: 20px; margin-left: 10%;">
    <div *ngIf="templateName == 'Lab results'">
      <div class="clinic-templates">
        <form [formGroup]="labResultForm" (submit)="submitForm()">
          <div class="row">
            <div class="col-md-6">
              <div>
                <div class="content">
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="report_id"
                      placeholder="Report ID"
                    /> </mat-form-field
                  >&nbsp;
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="status"
                      placeholder="Status"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <div>
                <div class="content">
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="test_name"
                      placeholder="Test Name"
                    /> </mat-form-field
                  >&nbsp;
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="test_status"
                      placeholder="Test Status"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div>
                <div class="content">
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="diagnostic_service_category"
                      placeholder="Diagnostic Service Category"
                    /> </mat-form-field
                  ><br />
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="clinical_information_provided"
                      placeholder="Clinical Information Provided"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <h3>Laboratory Test Analyte</h3>
              <div>
                <div class="content">
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="analyte_name"
                      placeholder="Analyte Name"
                    /> </mat-form-field
                  >&nbsp;
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="analyte_result"
                      placeholder="Analyte Result"
                    />
                  </mat-form-field>
                  <div class="content">
                    <mat-form-field>
                      <input
                        matInput
                        formControlName="comment"
                        placeholder="Comment"
                      /> </mat-form-field
                    >&nbsp;
                    <mat-form-field>
                      <input
                        matInput
                        formControlName="reference_range_guidance"
                        placeholder="Reference Range Guidance"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div>
                <div class="content">
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="analyte_result_status"
                      placeholder="Analyte Result Status"
                    /> </mat-form-field
                  >&nbsp;
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="conclusion"
                      placeholder="Conclusion"
                    /> </mat-form-field
                  ><br />
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="test_diagnosis"
                      placeholder="Test Diagnosis"
                    /> </mat-form-field
                  >&nbsp;
                  <mat-form-field>
                    <input
                      matInput
                      formControlName="comment_diagnosis"
                      placeholder="Comment on Diagnosis"
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <button mat-button>Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="margin: 20px; margin-left: 10%;">
    <h2>List of Medical Data(s)</h2>
    <mat-list>
      <mat-list-item *ngFor="let item of medicalDatas">
        Patient: {{ item.subjectId }}, Template: {{ item.templateId }} , Medical
        Data: <a href="#" (click)="fetchSingleData(item.uid)"> Data</a>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<div
  class="col-md-12"
  style="
    margin: 20px;
    margin-left: 10%;
    width: 40% !important;
    max-width: 40% !important;
  "
  [innerHTML]="medicalData"
>
</div>
-->
<button (click)="process()">Process</button>
